body{
    background-color:cornsilk;
}

.table1{
    background-color:aqua
}

.table2{
    background-color:ghostwhite;
}

.table3{
    background-color: honeydew;
}

.table4{
    background-color: ghostwhite;
}

.table5{
    background-color: honeydew;
}

.table6{
    background-color: ghostwhite;
    
}

.table7{
    background-color: honeydew;
}

.table8{
    background-color: ghostwhite;
}

.table9{
    background-color: honeydew;
}